@use "global" as *;
// header section

@keyframes navbar {
  0% {
    background: $lightOrange;
  }
  25% {
    background: lightpink;
  }
  50% {
    background: rgb(212, 120, 188);
  }
  75% {
    background: rgb(166, 113, 235);
  }
  100% {
    background: $lightOrange;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: white;

  padding: 1rem 4rem;
  position: fixed;
  width: 100%;
  animation-name: navbar;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  opacity: 90%;
  z-index: 99;
}

.logo {
  color: $logoBlue;
  text-decoration: none;
}

.nav__list {
  list-style: none;
  display: flex;
  align-items: baseline;
  gap: 2rem;
}

.nav__link {
  font-weight: bold;
  text-decoration: none;
  color: #777;
  &--first {
    display: inline-block;
    padding: 6px 0;
    border-bottom: 3px solid $darkOrange;
  }
}

// body section
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $lightOrange;

  padding: 5rem;
  background-image: url(https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80);
  background-size: cover;
  background-size: 100%;

  height: 35rem;
}

.hero__textbox {
  width: 600px;
  h2 {
    font-size: 2.4rem;
    color: white;
    margin-bottom: 2rem;
  }
  p {
    color: white;

    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  button {
    font-size: 1rem;
    color: white;
    background-color: $darkOrange;
    padding: 1rem 3rem;
    border: 0;
    border-radius: 200px;
    display: none;
  }
}

.hero__img {
  height: 350px;
  display: none;
}

.rec {
  background-color: rgb(244, 244, 244);
}
.rec-heading {
  color: $logoBlue;
  padding: 2rem 5rem;
}

.rec-card-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.card {
  height: 26rem;
  width: 16rem;
  transition: all 0.6s;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0, 20%);
  margin-bottom: 6rem;
  text-decoration: none;
  color: white;
  background-position: center;
  background-size: cover;
  box-shadow: 6px 4px 6px rgb(0, 0, 0, 0.6);
  &--hawaii {
    background-image: url(https://images.unsplash.com/photo-1563223771-5fe4038fbfc9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  }
  &--iceland {
    background-image: url(https://images.unsplash.com/photo-1609951651556-5334e2706168?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  }
  &--greece {
    background-image: url(https://images.unsplash.com/photo-1560512823-829485b8bf24?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  }
  h4 {
    display: inline;
    position: relative;
    top: 23rem;
    left: 1rem;
    color: white;
    background-color: rgba(215, 18, 229, 0.617);
  }
}

.card:hover {
  transform: translateY(-1.2rem);
  opacity: 50%;
}

// footer section
footer {
  display: flex;
  justify-content: space-between;
  background-color: $lightOrange;
  padding: 3rem 8rem;
  color: $logoBlue;
  h2 {
    margin: 2rem 0;
  }
  h6 {
    color: rgb(212, 120, 188);
    margin: 1rem 0;
  }
}

.hours-container {
  display: flex;
  gap: 2rem;
}

.social {
  img {
    height: 2rem;
    margin-right: 2rem;
  }
}

.contact,
.social,
.hours {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
